version: '3.8'
services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.33.4
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_MODULES: 'text2vec-openai'
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - ./data/weaviate_data:/var/lib/weaviate
    networks:
      - app-network
  
  yolo-service:
    build:
      context: ./yolo-service
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app-network
  
  gradio-ui:
    build:
      context: .
      dockerfile: gradio/Dockerfile
    ports:
      - "7860:7860"
    environment:
      - WEAVIATE_URL=http://weaviate:8081
      - GROQ_API=${GROQ_API}
    depends_on:
      - yolo-service
      - weaviate
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
