dotenv==0.9.9
email-validator==2.3.0
fastapi==0.120.2
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
httptools==0.7.1
llama-index==0.14.6
llama-index-llms-groq==0.4.1
pip==22.0.2
python-multipart==0.0.20
ultralytics==8.3.222
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
